<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>948432390638-13cponaut4arf64dpal4fcm6niboasrh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.948432390638-13cponaut4arf64dpal4fcm6niboasrh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>948432390638-buqn6a8jj1q6tc9ggf03p41i9c9fibtg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAKhoQ4_DspGeGH5C7GOeQuKdlF_J2byWM</string>
	<key>GCM_SENDER_ID</key>
	<string>948432390638</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.iustagram</string>
	<key>PROJECT_ID</key>
	<string>iustagram-9f29d</string>
	<key>STORAGE_BUCKET</key>
	<string>iustagram-9f29d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:948432390638:ios:398cec1b4d5ebdffbde6ff</string>
	<key>DATABASE_URL</key>
	<string>https://iustagram-9f29d.firebaseio.com</string>
</dict>
</plist>